# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Case Files and Recordings
LevitechDemo/storage
Recordings/